
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.dataTables.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery-chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/datepicker.css")" />
<link href="~/Content/css/daterangepicker.css" rel="stylesheet" />

}
<!-- /section:basics/sidebar -->
<div class="main-content">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->
        <link href="~/Content/css/custom.css" rel="stylesheet" />
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("Index", "Home")">INICIO</a>
                </li>
                <li>
                    <a href="javascript:void(0)">ALMACEN</a>
                </li>
                <li class="active">CONSULTAS</li>
                <li class="active">STOCK POR ALMACEN</li>
            </ul><!-- /.breadcrumb -->
            <!-- /section:basics/content.searchbox -->
        </div>
        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <!-- #section:settings.box -->
            <!-- /section:settings.box -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="search-area well no-margin-bottom">
                        <form id="stockXAlmacenSearchForm" role="form">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="border-radius:7px">
                                                <label>Almacen</label>
                                            </span>
                                            <select id="almacensearch" name="almacensearch" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="border-radius:7px">
                                                <label>Hasta</label>
                                            </span>
                                            <input type="text" id="fechasearch" autocomplete="off" name="fechasearch" placeholder="Seleccione fecha" class="form-control" />
                                            

                                            <div class="input-group-btn">
                                                <button type="button" id="btnSearchStockXAlmacen" class="btn btn-primary btn-sm">
                                                    <i class="ace-icon fa fa-search icon-on-right bigger-110 right"></i>Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                                <div class="clearfix">
                                    <div class="pull-right tableTools-container">
                                        <div class="dt-buttons btn-overlap btn-group">
                                            <a id="btnVerkardex" data-toggle="tooltip" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="Nuevo" title="Ver Kardex">
                                                <span><i class="fa fa-list bigger-110 blue"></i> </span>
                                            </a>
                                         
                                            <a id="btnImprimir" data-toggle="tooltip" class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="Imprimir">
                                                <span><i class="fa fa-print bigger-110 grey"></i> </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    @*<div class="col-md-5">
                                        <div class="input-group">
                                            <input type="text" id="fechasearch" autocomplete="off" name="fechasearch" placeholder="Hasta" class="form-control" />
                                        </div>
                                    </div>*@
                                    @*<div class="col-md-5">*@
                                        @*<div class="input-group">*@
                                            
                                            <input type="text" id="descripcionProducto" autocomplete="off" name="descripcionProducto" onkeypress="buscar(event)" placeholder="Escriba descripción de producto" class="form-control" />

                                        @*</div>*@
                                    @*</div>*@
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12">
                        <h4 class="row-fluid header smaller lighter blue">
                            <span class="span5"> Resultados de Stock por Almacen</span>
                        </h4>
                        <div class="dataTables_wrapper form-inline no-footer">
                            <div class="table-responsive">
                                <table id="StockXAlmacenDataTable" class="table table-bordered" cellspacing="0" role="grid" aria-describedby="dynamic-table_info">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Id</th>
                                            <th class="hidden-120">Almacen</th>
                                            <th class="hidden-120">Producto</th>
                                            <th class="hidden-992">U.M</th>
                                            <th class="hidden-120">Stock</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- FILTER BEGINS-->
            <!-- FILTER ENDS-->

            <div id='Kardex' tabindex='-1' role='dialog' aria-hidden='true' class='modal fade' data-backdrop='static' style='z-index:100000;'>
                <div class='modal-dialog pasos'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class='modal-title'> <i class="fa fa-sitemap" aria-hidden="true"></i> <span id="accionTitle"></span> Kardex <span id="strproducto"></span></h4>
                        </div>
                        <div class='modal-body'>
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <div class="col-xs-11-97">
                                     
                                        <!-- #section:elements.form -->
                                      
                                        
                                        <div class="table-responsive">
                                            <table id="KardexDataTable" class="table table-bordered dataTable no-footer">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th class="hidden-120 center">Nº Documento</th>
                                                        <th class="hidden-992 center">Fecha</th>
                                                        <th class="hidden-992 center">Motivo</th>
                                                        <th class="hidden-120 center">Ingreso</th>
                                                        <th class="hidden-120 center">Salida</th>
                                                        <th class="hidden-120 center">Saldo</th>
                                                        <th class="hidden-992 center">Observaci&oacute;n</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='modal-footer' style='margin-top: 0px; margin-bottom: 0px;'>
                        <button class='btn btn-danger btn-sm' data-dismiss='modal'><i class='fa fa-close'></i> Salir</button>
                        <button class='btn btn-primary btn-sm hidden' id="btnGuardarNotaIngreso"><i class='fa fa-floppy-o'></i> Guardar</button>
                    </div>
                </div>
            </div>




        </div>
    </div><!-- /.page-content -->



</div><!-- /.main-content -->


@section scripts{
    <!-- page specific plugin scripts -->
    <script src="@Url.Content("~/Content/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.dataTables.fnReloadAjax.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.inputlimiter.1.3.1.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Content/js/additional-methods.js")"></script>
    <script src="@Url.Content("~/Content/js/fuelux/fuelux.wizard.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-chosen.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery.blockUI.js")"></script>
    <script src="@Url.Content("~/Content/js/shCore.js")"></script>
    @*<script src="@Url.Content("~/Content/js/dataTables_editor_min.js")"></script>*@
   <script src="@Url.Content("~/Content/js/date-time/moment.js")"></script>
    <script src="@Url.Content("~/Content/js/date-time/daterangepicker.js")"></script>
    <script src="@Url.Content("~/Content/js/date-time/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/js/date-time/locate/bootstrap-datepicker.es.js")"></script>
    <script src="@Url.Content("~/Content/js/JSLINQ.js")"></script>
    <script src="@Url.Content("~/Content/js/jquery-mask.js")"></script>
    <script src="@Url.Content("~/Content/js/numeric.js")"></script>



    <!-- inline scripts related to this page -->
    <script src="@Url.Content("~/Content/js/viewsJs/StockXAlmacen.js")"></script>
    <!-- Ajax BlockUi scripts -->
    <script type="text/javascript">
        var pageBlocked = false;
        var handlerActivo = false;
        $(document).ready(function () {
            $.blockUI.defaults.baseZ = 100000;
            $.blockUI.defaults.overlayCSS.opacity = 0.4;
            $.blockUI.defaults.css.backgroundColor = "transparent";
            $.blockUI.defaults.css.border = '0px none';
            $.blockUI.defaults.fadeIn = 100,
            $.blockUI.defaults.fadeOut = 100,

            $(document).ajaxSend(function () {
                if (!pageBlocked) {
                    $.blockUI({
                        message: "Espere un momento por favor",
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: 1,
                            color: '#fff'
                        },
                        onBlock: function () {
                            pageBlocked = true;
                        }
                    });
                }
            }).ajaxStop(function () {
                jQuery.unblockUI();
                pageBlocked = false;
            });

        });
    </script>

}

